.mw-1400{
    max-width: 1400px;
}

#costTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

textarea{
    width: 100%;
}
.cost-btn-group {
    display: flex;
    justify-content: flex-end;
}
.add-cost-btn{
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#add-cost-btn:hover {
    background-color: #0056b3;
}

#save-btn {
    float: right;
}

.notice{
    display: none !important;
}