.mw-1200{
    max-width: 1200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
}

/*td input,
td select,
td number,
td textarea {
    display: flex;
    align-items: center;

}*/

input[type="text"], input[type="number"] {
    width: 95%;
    padding: 5px;
}

.cost-btn-group {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: flex-end;
}
.add-cost-btn{
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#add-cost-btn:hover {
    background-color: #0056b3;
}

#save-btn {
    float: right;
}
