#smartwizard>.nav .nav-link.active {
    color: #ffffff !important;
    border-color: #009ef7;
    background-color: #009ef7;
    cursor: pointer;
}

#smartwizard>.nav .nav-link.active::before {
    border-left-color: #ffffff !important;
}
#smartwizard>.nav .nav-link.active::after {
    border-left-color: #009ef7  !important;
}