.mw-1400{
    max-width: 1400px;
}

#smartwizard>.nav .nav-link.active {
    color: #ffffff !important;
    background-color: #009ef7;

}

#smartwizard>.nav .nav-link.active::before {
    border-left-color: #ffffff !important;
}
#smartwizard>.nav .nav-link.active::after {
    border-left-color: #009ef7  !important;
}

.choose-design ul {
    list-style-type: none;
}

.choose-design li {
    display: inline-block;
}

.choose-design input[type="radio"][id^="cb"] {
    display: none;
}

.choose-design label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.choose-design label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.choose-design label img {
    height: 150px;
    width: 250px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.choose-design :checked + label {
    border-color: #ddd;
}

.choose-design :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

.choose-design :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

.finish .finish-btn{
    background: #009ef7;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.button.finish-btn:hover {
    background-color: #0056b3;
    color: #ffffff;
}


/* Radio button and label styling */
.select-product .radio-group{
    margin-block-end: 10px;
}


/* Additional information styling */
.application-info {
    margin-block-start: 10px;
    font-size: 14px;
    color: #555;
    display: block;
}
.w-50{
    width: 100%;
    max-width: 50%;
}
.select-product-options input[type="text"] {
    width: 100%;
    min-height: 40px;
}
#smartwizard .sw>.tab-content{
    min-height: 350px !important;
}
/* Image generate with canvas */

.controls {
    margin-top: 20px;
}
.controls .row{
    margin-block: 20px;
}
.controls .btn{
    cursor: pointer;
    outline: none;
    font-size: 14px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
}
.controls .btn.update-btn{
    margin-inline-end: 20px;
}
.controls .btn.update-btn,
.controls .btn.download-btn:hover
{
    background: transparent;
    color: #1172c4;
    border-color: #1172c4;
    border-style: solid;
    border-width: 1px;
    transition: all 0.2s linear;
}
.controls .btn.update-btn:hover
{
    color: #FFFFFFFF;
    background: #1172c4;
    border-color: #FFFFFFFF;
    transition: all 0.2s linear;
}
.controls .btn.download-btn{
    background: #1172c4;
    color: #FFFFFFFF;
    border: none;
}

/*Dynamic search */
.selected-products {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-block: 10px;
}

.product-tag {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #0073aa;
    color: white;
    border-radius: 4px;
    cursor: default;
}

.product-tag .close-btn {
    margin-left: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.suggestion-box {
    border: 1px solid #ddd;
    margin-top: 5px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    width: 50%;
    display: none;
}
.suggestion-box> small {
    display: inline-block !important;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
}
.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
